body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.right {
  width: 900px;
  margin: auto;
  float: right;
}
.left {
  width: 300px;
  margin: auto;
  float: left;
}
