extends layout 

block content 
    h1 Invite Guest
    div(class="left")
        h4 Add Name of the Guest
        input(type="text") 
        button Invite!
    div(class="right")
        h4 Invitation Hash: 
        h4 Validation Link: 