extends layout 

block content 
    div(class="left")
        h1 Invite Guest
        br
        form(method="POST",action="/portal/add")
            h4 Add Name of the Guest
            input(type="text",name="guest") 
            br
            br

            button(type="submit") Invite!
            br
            br
        h3 #{message}
        h4 Guest Name:  #{guest_name}
        h4 Invitation Hash: #{invite_string}
        if invite_string != undefined 
            a(href="https://invitationserv.herokuapp.com/validate/"+invite_string) Validation Link